.searchPage{
    flex: 0.8;
    background: #f9f9f9;
    padding-top: 20px;
    padding-bottom: 0;
    padding-left: 20px;
}

.searchPage > .filter {
    display: flex;
    align-items: center;
    color: #606060;
    font-size: 14px;
    cursor: pointer;
}
         
.searchPage > .filter > .searchPageFilterIcon{
    margin-right:8px;
    font-size: 24px !important;
}